html
  head
    script(type='text/javascript' src='/javascripts/test.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')


  body
      form(id='login-form', method='POST', action='/')
        table
        .form-group
          label(for='username') Username
          input(type='text', name='username', class='form-control', id='username', placeholder='Enter username')
        .form-group
          label(for='password') Password
          input(type='password', name='password', class='form-control', id='password', placeholder='Enter password')
        .form-group
          label(for='username') lastname
          input(type='text', name='lastname', class='form-control', id='lastname', placeholder='Enter lastname')
        .form-group
          label(for='username') email
          input(type='text', name='email', class='form-control', id='email', placeholder='Enter email')
        .form-group
          label(for='password') envoyer
          input(type='submit', name='envoyer', class='form-control', id='envoyer')
          input(type='submit',value='Sign Up',data-transition='fade', data-theme='c')
          input(type='submit',value='Sign In',data-transition='fade', data-theme='c')
